@import '../../../styles/variables.module';

.testimonial{
    padding: 50px 0;
    background: #f6fbff;

    h2{
        text-align: center;
        margin-bottom: 50px;
    }

    .box{
        max-width: 80%;
        margin: 0 auto;
        position: relative;

        .box_inner{
            max-width: 70%;
            margin: 0 auto;
            background: $white-color;
            padding: 40px;
            position: relative;
            box-shadow: 0px 16px 40px rgba(109, 141, 173, 0.15);
            border-radius: 10px;

            h6{
                font-size: 1.25em;
                color: #2689F5;
                line-height: 1.4;
                margin-bottom: 5px;
                font-weight: 500;
            }

            span{
                display: block;
                font-size: 0.8125em;
                color: #7F7F7F;
                margin-bottom: 15px;
            }

            @media (max-width: 899px) {
                max-width: 80%;
            }


        }
        .box_bot{
            width: 80%;
            margin: 0 auto;

            > div{ background: none;}

            @media (max-width: 599px) {
                width: 100%;
            }


        }
        .quote{ position: absolute; top: -20px; right: 30px;}

        @media (max-width: 899px) {
            max-width: 100%;
        }
        @media (min-width: 900px) {
            max-width: 100%;
        }

    }

}